<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Burrito</title>
</head>
<body>
    <h1>Edit Burrito</h1>

    <form action="/burritos/<%=burrito._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="burrito[title]" value="<%= burrito.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="burrito[location]" value="<%= burrito.location %>">
        </div>
        <div>
            <label for="restaurant">Restaurant</label>
            <input type="text" id="restaurant" name="burrito[restaurant]" value="<%= burrito.restaurant %>">
        </div>
        <button>Change Yeet's Deets</button>
    </form>

    <a href="/burritos/<%= burrito._id %> ">Back to Burrito</a>

</body>
</html>